{% extends "mailer/base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">{{user.username}}'s Profile</h1>
        
        <div class="row">
            <div class="col-md-4">
                {% if profile_picture_url  %}
                    <img src="{{profile_picture_url }}" alt="Profile Picture" class="img-fluid rounded-circle">
                {% else %}
                    <div class="text-center">
                        <p class="text-muted">No profile picture available.</p>
                    </div>
                {% endif %}
            </div>
            
            <div class="col-md-8">
                <p><strong>Bio:</strong></p>
                <p>{{ profile.bio|default:"No bio provided." }}</p>
                
                <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
